body{
    font-family: SansSerif;
}

.whiteText{
    color: white;
}

.blackText{
    color: black;
}

.deepsbtext{
    color: deepskyblue!important;
}

.darkBack{
    background-color: #343a40!important;
}

.siteCreator{
    font-size: 35px;
    font-weight: lighter;
}

/*
    css header's area
*/

.navbar{
    font-size: 25px;
    font-weight: bold;
}

.up{
    display: inline-block;
    border-bottom: solid 5px #343a40;
}

.up:hover{
    border-bottom: solid 5px white;
    color: deepskyblue!important;
}

/*
    css center's area
*/
#center{
    margin-top: 100px;
    margin-bottom: 75px;
}

.titleContainer{
    padding-top: 25px;
    margin: 15px auto;
    text-align: center;
    font-weight: bold;
}

#aboutMe .card{
    width: 12rem;
}

#contact .card{
    width: 7rem;
}

a.externalLink span{
    display: none
}
a.externalLink:hover span{
    padding: 3px;
    display: block;
    z-index: 100;
    background-color: #343a40;
    opacity: 0.75;
    color: rgba(255,255,255,1);
    border-style: solid;
    border-color: #343a40;
    border-radius: 25px;
    left: 125px;
    margin: 10px;
    text-align: center;
    width: auto;
    position: absolute;
    top: 30px;
    text-decoration: none
}

.card{
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 5px 10px 5px deepskyblue;
    margin: 25px auto;
}

.bigger:hover{
    box-shadow: 20px 10px 20px 10px dodgerblue;
    transition-duration: 1s;
}

.rotate:hover{
    transform: rotate(360deg);
    box-shadow: 0 0;
    transition-duration: 3s;
}

.titleCard{
    font-size: 25px;
    font-weight: bold;
}

.card img,.card div{
    padding: 10px;
    overflow: hidden;
}

#linkMail:hover{
    cursor: pointer;
}

.aboutMeContainer{
    border-radius: 25px;
    box-shadow: 15px 10px 15px 10px grey;
}

.contactContainer{
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 15px 10px 15px 10px grey;
}

.contactContainer row{
    padding-bottom: 25px;
}

/*
    css footer's area
*/

#footer{
    background-color: #343a40;
}

#footer .row{
    margin-bottom: 0px;
}

.row ul{
    padding-top: 10px;
}

.titleUl{
    font-size: 25px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

.titleUlColor{
    text-align: center;
}

.col ul{
    padding: 0px;
}

.footerLink{
    text-decoration: none;
    font-weight: bold;
    color: white;
    width: auto;
    margin: 5px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 25px;
    display: inline-block;
}

.linkLi{
    list-style-type: none;
    text-align: center;
    margin: 15px 0;
}

.footerLink:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    border-color: white;
    border-radius: 25px;
    /*transition-duration: 1s;*/
    
}

.footerLink:active{
    text-decoration: none;
}